include wasanbon/template/mgr.py
include wasanbon/template/setting.yaml
include wasanbon/template/README.txt
include wasanbon/template/conf/rtc_java.conf
include wasanbon/template/conf/rtc_cpp.conf
include wasanbon/template/conf/rtc_py.conf
include wasanbon/template/log/rtc_cpp.log
include wasanbon/template/log/rtc_py.log
include wasanbon/template/log/rtc_java.log
include wasanbon/template/system/DefaultSystem.xml
include wasanbon/template/system/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
include wasanbon/template/rtc/repository.yaml
include wasanbon/template/rtc/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
include wasanbon/bin/wasanbon-admin.py
include wasanbon/bin/wasanbon-cd.bat
include wasanbon/core/plugins/mgr/rtcprofile_plugin/template/page_template.html
include wasanbon/core/plugins/admin/environment_plugin/settings/repository.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/ubuntu/bashrc
include wasanbon/core/plugins/admin/environment_plugin/settings/ubuntu/hints.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/ubuntu/setting.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/ubuntu/path.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/windows/hints.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/windows/setting.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/windows/path.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/common/dot.emacs
include wasanbon/core/plugins/admin/environment_plugin/settings/common/repository.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/common/path.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/macos/bashrc
include wasanbon/core/plugins/admin/environment_plugin/settings/macos/hints.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/macos/path.yaml
include wasanbon/core/plugins/admin/package_plugin/package/template/run_system.sh
include wasanbon/core/plugins/admin/package_plugin/package/template/run_system.bat
