include wasanbon/template/mgr.py
include wasanbon/template/setting.yaml
include wasanbon/template/README.txt
include wasanbon/template/conf/rtc_java.conf
include wasanbon/template/conf/rtc_cpp.conf
include wasanbon/template/conf/rtc_py.conf
include wasanbon/template/log/rtc_cpp.log
include wasanbon/template/log/rtc_py.log
include wasanbon/template/log/rtc_java.log
include wasanbon/template/system/DefaultSystem.xml
include wasanbon/template/system/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
include wasanbon/template/rtc/repository.yaml
include wasanbon/template/rtc/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
include wasanbon/bin/wasanbon-admin.py
include wasanbon/bin/wasanbon-cd.bat
include wasanbon/core/plugins/mgr/rtcprofile_plugin/template/page_template.html
include wasanbon/core/plugins/admin/environment_plugin/settings/repository.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/ubuntu1204_x86/bashrc
include wasanbon/core/plugins/admin/environment_plugin/settings/ubuntu1204_x86/hints.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/ubuntu1204_x86/projects.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/ubuntu1204_x86/packages.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/ubuntu1204_x86/setting.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/ubuntu1204_x86/apt.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/ubuntu1204_x86/repository.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/ubuntu_x64/bashrc
include wasanbon/core/plugins/admin/environment_plugin/settings/ubuntu_x64/hints.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/ubuntu_x64/projects.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/ubuntu_x64/packages.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/ubuntu_x64/libraries.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/ubuntu_x64/setting.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/ubuntu_x64/apt.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/ubuntu_x64/repository.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/ubuntu_x64/path.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/windows8_x64/hints.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/windows8_x64/packages.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/windows8_x64/libraries.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/windows8_x64/setting.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/windows8_x64/path.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/windows7_x64/hints.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/windows7_x64/projects.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/windows7_x64/packages.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/windows7_x64/libraries.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/windows7_x64/setting.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/windows7_x64/repository.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/windows7_x64/path.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/ubuntu_x86/bashrc
include wasanbon/core/plugins/admin/environment_plugin/settings/ubuntu_x86/hints.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/ubuntu_x86/projects.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/ubuntu_x86/packages.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/ubuntu_x86/libraries.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/ubuntu_x86/setting.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/ubuntu_x86/apt.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/ubuntu_x86/repository.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/ubuntu_x86/path.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/common/file.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/common/svn.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/common/packages.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/common/dot.emacs
include wasanbon/core/plugins/admin/environment_plugin/settings/common/repository.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/common/path.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/osx10.10_xcode6/bashrc
include wasanbon/core/plugins/admin/environment_plugin/settings/osx10.10_xcode6/hints.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/osx10.10_xcode6/packages.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/osx10.10_xcode6/libraries.yaml
include wasanbon/core/plugins/admin/environment_plugin/settings/osx10.10_xcode6/path.yaml
include wasanbon/core/plugins/admin/package_plugin/package/template/run_system.sh
include wasanbon/core/plugins/admin/package_plugin/package/template/run_system.bat
